body {
    padding: 10px 10px;
}

div.ztree {
    /*margin-top: 10px;*/
    /*border: 1px solid #617775;*/
    background: #f0f6e4;
    width: 300px;
    height: 400px;
    /*overflow-y: scroll;*/
    overflow-x: auto;
}

.ztree li span {
    font-size: 13px;
}